<!DOCTYPE html>
<html ng-app="scrollInvalid">
<head>
  <title>ng-submit-scroll-invalid</title>
</head>
<body ng-controller="submitController as ctrl">
  {{ctrl.test}}
  <form name="testForm" ng-submit="testForm.$valid && ctrl.submit()" focus-on-first-invalid novalidate> 
    <input type="text" ng-model="ctrl.element0" required /><br />
    <input type="text" ng-model="ctrl.element1" required /><br />
    <input type="text" ng-model="ctrl.element2" required /><br />
    <input type="text" ng-model="ctrl.element3" required /><br />
    <input type="text" ng-model="ctrl.element4" required /><br />
    <input type="text" ng-model="ctrl.element5" required /><br />
    <input type="text" ng-model="ctrl.element6" required /><br />
    <input type="text" ng-model="ctrl.element7" required /><br />
    <input type="text" ng-model="ctrl.element8" required /><br />
    <input type="text" ng-model="ctrl.element9" required /><br />
    <input type="text" ng-model="ctrl.element10" required /><br />
    <input type="text" ng-model="ctrl.element11" required /><br />
    <input type="text" ng-model="ctrl.element12" required /><br />
    <input type="text" ng-model="ctrl.element13" required /><br />
    <input type="text" ng-model="ctrl.element14" required /><br />
    <input type="text" ng-model="ctrl.element15" required /><br />
    <input type="text" ng-model="ctrl.element16" required /><br />
    <input type="text" ng-model="ctrl.element17" required /><br />
    <input type="text" ng-model="ctrl.element18" required /><br />
    <input type="text" ng-model="ctrl.element19" required /><br />
    <input type="text" ng-model="ctrl.element20" required /><br />
    <input type="text" ng-model="ctrl.element21" required /><br />
    <input type="text" ng-model="ctrl.element22" required /><br />
    <input type="text" ng-model="ctrl.element23" required /><br />
    <input type="text" ng-model="ctrl.element24" required /><br />
    <input type="text" ng-model="ctrl.element25" required /><br />
    <input type="text" ng-model="ctrl.element26" required /><br />
    <input type="text" ng-model="ctrl.element27" required /><br />
    <input type="text" ng-model="ctrl.element28" required /><br />
    <input type="text" ng-model="ctrl.element29" required /><br />
    <input type="text" ng-model="ctrl.element30" required /><br />
    <input type="text" ng-model="ctrl.element31" required /><br />
    <input type="text" ng-model="ctrl.element32" required /><br />
    <input type="text" ng-model="ctrl.element33" required /><br />
    <input type="text" ng-model="ctrl.element34" required /><br />
    <input type="text" ng-model="ctrl.element35" required /><br />
    <input type="text" ng-model="ctrl.element36" required /><br />
    <input type="text" ng-model="ctrl.element37" required /><br />
    <input type="text" ng-model="ctrl.element38" required /><br />
    <input type="text" ng-model="ctrl.element39" required /><br />
    <input type="text" ng-model="ctrl.element40" required /><br />
    <input type="text" ng-model="ctrl.element41" required /><br />
    <input type="text" ng-model="ctrl.element42" required /><br />
    <input type="text" ng-model="ctrl.element43" required /><br />
    <input type="text" ng-model="ctrl.element44" required /><br />
    <input type="text" ng-model="ctrl.element45" required /><br />
    <input type="text" ng-model="ctrl.element46" required /><br />
    <input type="text" ng-model="ctrl.element47" required /><br />
    <input type="text" ng-model="ctrl.element48" required /><br />
    <input type="text" ng-model="ctrl.element49" required /><br />
    <button type="submit">Submit</button>
  </form>
  <script type="text/javascript" src="node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
